@{
    ViewData["Title"] = "Home Page";
}

<environment include="Development">
    <h1>Şu anda development ortamındasınız !</h1>
</environment>
<environment include="Staging">
    <h1>Şu anda staging ortamındasınız !</h1>
</environment>
<environment include="Production">
    <h1>Şu anda production ortamındasınız !</h1>
</environment>
<environment include="Alfa">
    <h1>Şu anda Alfa ortamındasınız !</h1>
</environment>
 